HttpSample/Service Descriptors/ServiceProcess.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/wsdl/1553843614628" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProcess" targetNamespace="http://www.example.org/wsdl/1553843614628">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.example.org/wsdl/1553843614628">
      <xsd:element name="operationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="operation1Request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="operation1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="operation1Request1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="operation1Response1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part element="tns:operationRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="tns:operationResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Request">
    <wsdl:part element="tns:operation1Request" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="operation1Response">
    <wsdl:part element="tns:operation1Response" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="ServiceProcess">
    <wsdl:operation name="operation">
      <wsdl:input message="tns:operationRequest" name="operationInput"/>
      <wsdl:output message="tns:operationResponse" name="operationOutput"/>
    </wsdl:operation>
        <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1Request" name="operation1Input"/>
      <wsdl:output message="tns:operation1Response" name="operation1Output"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
